@import 'tailwindcss/theme.css';
/*
    read about relative hsl `from <color>`
    ref: https://drafts.csswg.org/css-color-5/#relative-HSL
*/

:root {
  /* Font family */
  --ff-han-sans-neo:
    'Spoqa Han Sans Neo', -apple-system, 'system-ui', 'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji';

  --ff-inter:
    'Inter', -apple-system, 'system-ui', 'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji';

  --ff-stack-default:
    -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
    Helvetica Neue, sans-serif;

  /* Color palette */
  --clr-white: hsl(0, 0%, 100%);
  --clr-black: hsl(0, 0%, 0%);

  --clr-black-l-70: hsl(0, 0%, 70%);
  --clr-black-l-60: hsl(0, 0%, 70%);
  --clr-black-l-40: hsl(0, 0%, 40%);
  --clr-black-l-20: hsl(0, 0%, 20%);
  --clr-black-l-12: hsl(0, 0%, 12%);
  --clr-black-l-10: hsl(0, 0%, 10%);

  --clr-sky-blue-l-76: hsl(214, 100%, 76%); /* top bg gradient */

  --clr-charcoal-l-25: hsl(228, 23%, 25%); /* shadow*/

  --clr-ultramarine-l-59: hsl(226, 100%, 59%); /* primary*/

  /* Font size */
  --fs-12: 0.75rem; /* 12px */
  --fs-13: 0.8125rem;
  --fs-14: 0.875rem;
  --fs-15: 0.9375rem;
  --fs-16: 1rem;
  --fs-18: 1.125rem;
  --fs-20: 1.25rem;
  --fs-32: 2rem;
  --fs-42: 2.625rem;

  /* Primitives */
  --clr-primary: var(--clr-ultramarine-l-59);
  --clr-invert: var(--clr-white);

  --clr-text-quieter: var(--clr-black-l-70);
  --clr-text-quiet: var(--clr-black-l-60);
  --clr-text-dimmed: var(--clr-black-l-40);
  --clr-text-base: var(--clr-black-l-20);
  --clr-text-raised: var(--clr-black-l-12);
  --clr-text-elevated: var(--clr-black-l-10);
  --clr-text-primary: var(--clr-primary);
  --clr-text-invert: var(--clr-invert);

  --clr-border-base: hsl(from var(--clr-black) h s l / 0.1); /* hsl(0, 0%, 0%, 0.1) */
  --clr-border-active: hsl(from var(--clr-primary) h s l / 0.1); /* hsl(226, 100%, 59%, 0.1) */

  --clr-box-shadow: hsl(from var(--clr-charcoal-l-25) h s l / 0.1); /* hsl(228, 23%, 25%, 0.1) */

  --clr-background-underlay: linear-gradient(180deg, rgba(134, 186, 255, 0.2) 0%, rgba(255, 255, 255, 0) 45.9%);
  --clr-background-base: var(--clr-white);
  --clr-background-raised: var(--clr-sky-blue-l-76);
  --clr-background-active: hsl(from var(--clr-primary) h s l / 0.06); /* hsl(226, 100%, 59%, 0.06) */

  /* Light */
  &[data-theme='light'] {
    color-scheme: light;
    --clr-primary: var(--clr-ultramarine-l-59);
    --clr-invert: var(--clr-white);

    --clr-text-quieter: var(--clr-black-l-70);
    --clr-text-quiet: var(--clr-black-l-60);
    --clr-text-dimmed: var(--clr-black-l-40);
    --clr-text-base: var(--clr-black-l-20);
    --clr-text-raised: var(--clr-black-l-12);
    --clr-text-elevated: var(--clr-black-l-10);
    --clr-text-primary: var(--clr-primary);
    --clr-text-invert: var(--clr-invert);

    --clr-border-base: hsl(from var(--clr-black) h s l, 0.1); /* hsl(0, 0%, 0%, 0.1) */
    --clr-border-active: hsl(from var(--clr-primary) h s l, 0.1); /* hsl(226, 100%, 59%, 0.1) */

    --clr-box-shadow: hsl(from var(--clr-charcoal-l-25) h s l, 0.1); /* hsl(228, 23%, 25%, 0.1) */

    --clr-background-underlay: linear-gradient(180deg, rgba(134, 186, 255, 0.2) 0%, rgba(255, 255, 255, 0) 45.9%);
    --clr-background-base: var(--clr-white);
    --clr-background-raised: var(--clr-sky-blue-l-76);
    --clr-background-active: hsl(from var(--clr-primary) h s l / 0.06); /* hsl(226, 100%, 59%, 0.06) */
  }
  /* Dark */
  &[data-theme='dark'] {
    color-scheme: dark;
    /* Primitives */
    --clr-primary: var(--clr-ultramarine-l-59);
    --clr-invert: var(--clr-white);

    --clr-text-quieter: var(--clr-black-l-70);
    --clr-text-quiet: var(--clr-black-l-60);
    --clr-text-dimmed: var(--clr-black-l-40);
    --clr-text-base: var(--clr-black-l-20);
    --clr-text-raised: var(--clr-black-l-12);
    --clr-text-elevated: var(--clr-black-l-10);
    --clr-text-primary: var(--clr-primary);
    --clr-text-invert: var(--clr-invert);

    --clr-border-base: hsl(from var(--clr-black) h s l, 0.1); /* hsl(0, 0%, 0%, 0.1) */
    --clr-border-active: hsl(from var(--clr-primary) h s l, 0.1); /* hsl(226, 100%, 59%, 0.1) */

    --clr-box-shadow: hsl(from var(--clr-charcoal-l-25) h s l, 0.1); /* hsl(228, 23%, 25%, 0.1) */

    --clr-background-underlay: linear-gradient(180deg, rgba(134, 186, 255, 0.2) 0%, rgba(255, 255, 255, 0) 45.9%);
    --clr-background-base: var(--clr-white);
    --clr-background-raised: var(--clr-sky-blue-l-76);
    --clr-background-active: hsl(from var(--clr-primary) h s l / 0.06); /* hsl(226, 100%, 59%, 0.06) */
  }

  /* OS mode */
  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
    /* Primitives */
    --clr-primary: var(--clr-ultramarine-l-59);
    --clr-invert: var(--clr-white);

    --clr-text-quieter: var(--clr-black-l-70);
    --clr-text-quiet: var(--clr-black-l-60);
    --clr-text-dimmed: var(--clr-black-l-40);
    --clr-text-base: var(--clr-black-l-20);
    --clr-text-raised: var(--clr-black-l-12);
    --clr-text-elevated: var(--clr-black-l-10);
    --clr-text-primary: var(--clr-primary);
    --clr-text-invert: var(--clr-invert);

    --clr-border-base: hsl(from var(--clr-black) h s l, 0.1); /* hsl(0, 0%, 0%, 0.1) */
    --clr-border-active: hsl(from var(--clr-primary) h s l, 0.1); /* hsl(226, 100%, 59%, 0.1) */

    --clr-box-shadow: hsl(from var(--clr-charcoal-l-25) h s l, 0.1); /* hsl(228, 23%, 25%, 0.1) */

    --clr-background-underlay: linear-gradient(180deg, rgba(134, 186, 255, 0.2) 0%, rgba(255, 255, 255, 0) 45.9%);
    --clr-background-base: var(--clr-white);
    --clr-background-raised: var(--clr-sky-blue-l-76);
    --clr-background-active: hsl(from var(--clr-primary) h s l / 0.06); /* hsl(226, 100%, 59%, 0.06) */
  }
}

/*
  `inline`: https://tailwindcss.com/docs/colors#referencing-other-variables
*/
@theme inline {
  --color-*: initial;
  --color-primary: var(--clr-primary);
  --color-invert: var(--clr-invert);

  /* text color */
  --color-tcl-quieter: var(--clr-text-quieter);
  --color-tcl-quiet: var(--clr-text-quiet);
  --color-tcl-dimmed: var(--clr-text-dimmed);
  --color-tcl-base: var(--clr-text-base);
  --color-tcl-raised: var(--clr-text-raised);
  --color-tcl-elevated: var(--clr-text-elevated);
  --color-tcl-primary: var(--clr-text-primary);
  --color-tcl-invert: var(--clr-text-invert);

  /* border */
  --color-abd-base: var(--clr-border-base);
  --color-abd-active: var(--clr-border-active);

  /* background */
  --color-abg-base: var(--clr-background-base);
  --color-abg-raised: var(--clr-background-raised);
  --color-abg-active: var(--clr-background-active);

  /* font size */
  --text-*: initial;
  --text-xs: var(--fs-12);
  --text-sm: var(--fs-13);
  --text-body: var(--fs-14);
  --text-md: var(--fs-15);
  --text-lg: var(--fs-16);
  --text-xl: var(--fs-18);
  --text-2xl: var(--fs-20);
  --text-heading: var(--fs-32);
  --text-title: var(--fs-42);
}
