@import 'tailwindcss/preflight.css'; /* reset */

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--color-tcl-raised);
}

strong {
  color: var(--color-tcl-raised);
}

a {
  &:hover,
  &:focus-visible {
    color: var(--color-tcl-primary);
    outline-color: var(--color-primary);
    outline-offset: 0.5rem;
  }
}

input {
  @apply transition-all duration-150;
  outline-color: transparent;
  &:focus,
  &:hover,
  &:focus-visible,
  &:focus-within {
    outline-color: var(--color-primary);
    box-shadow: 0 0 0 2px var(--color-abd-active);
  }
}

html {
  font-family: var(--ff-stack-default);

  scroll-behavior: smooth;

  /* text visualize */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;

  /* Korean font */
  &[lang='ko'] {
    font-family: var(--ff-han-sans-neo), var(--font-stack-default);
  }
  &[lang='en'] {
    font-family: var(--ff-inter), var(--font-stack-default);
  }
}

body {
  @apply text-tcl-base min-h-screen bg-fixed;
  background-repeat: no-repeat;
  font-size: var(--text-body);
  background-image: var(--clr-background-underlay);
}
