@import 'tailwindcss/preflight.css'; /* reset */

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--color-tcl-raised);
}

strong {
  color: var(--color-tcl-raised);
}

a {
  &:hover,
  &:focus-visible {
    outline-color: var(--color-primary);
    outline-offset: 0.5rem;
  }
}

input {
  @apply transition-all duration-150;
  outline-color: transparent;
  &:focus,
  &:hover,
  &:focus-visible,
  &:focus-within {
    outline-color: var(--color-primary);
    box-shadow: 0 0 0 2px var(--color-abd-active);
  }
}

/* Scroll bar */
*::-webkit-scrollbar-track-piece {
  border-radius: 2em;
  background-color: #f8f8f8;
}

*::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}

*::-webkit-scrollbar-thumb {
  border-radius: 2em;
  background-clip: padding-box;
  background-color: #ddd;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #bbb;
}
