.typography {
  p {
    font-size: var(--text-base);
    color: var(--color-gray-700);
  }
  h1 {
    font-size: var(--text-2xl--line-height);
    font-weight: var(--font-weight-semibold);
    color: var(--color-gray-950);
  }
  h2 {
    font-size: var(--text-xl);
    font-weight: var(--font-weight-semibold);
    color: var(--color-gray-950);
  }
}

.pagination {
  @apply flex flex-wrap items-center;

  & > .page-item {
    @apply relative size-8 rounded-2xl px-[0.71875rem];
    @apply hover:bg-abg-active;

    &.active {
      @apply text-invert bg-primary;
    }

    & > .page-link {
      @apply absolute top-1/2 left-1/2 -translate-1/2;
    }
  }
}

.v-popper--theme-dc-dropdown-menu {
  .v-popper__arrow-container {
    @apply hidden;
  }
  .v-popper__inner {
    @apply py-2 rounded-xl border border-abd-base;
    @apply shadow-sm min-w-40;
  }
}

.gnb-custom-lang-item-link {
  --font-ic: 'stds-font-icon-v2', sans-serif;
  @apply flex items-center;
  @apply text-tcl-dimmed h-10 pl-2;

  &:before {
    content: '';
    @apply inline-flex items-center;
    @apply mr-1 w-5 text-xl;
  }

  &.is-active {
    @apply text-primary font-medium bg-abg-active;

    &:before {
      content: '\e95e';
      font-family: 'stds-font-icon-v2', serif !important;
      @apply inline-block mr-1;
    }
  }
}
