@utility abd-base-* {
  border-width: --value(integer)px;
  border-style: solid;
  border-color: var(--color-abd-base);
}

@utility abd-active-* {
  border-width: --value(integer)px;
  border-style: solid;
  border-color: var(--color-abd-active);
}

@utility text-* {
  font-size: calc(var(--spacing) * --value(integer));
}

@utility bd-radius-* {
  border-radius: calc(var(--spacing) * --value(integer));
}
