@layer theme, base, components, utilities;

@import 'tailwindcss/theme.css' layer(theme);

@import './font.css' layer(base);
@import 'tailwindcss/preflight.css' layer(base);

@import 'tailwindcss/utilities.css' layer(utilities);

@theme {
}
