/* Spoqa Han Sans Neo Regular */
@font-face {
  font-family: 'Spoqa Han Sans Neo';
  src: url('../fonts/SpoqaHanSansNeo_TTF_subset/SpoqaHanSansNeo-Regular.eot');
  src:
    local('Spoqa Han Sans Neo'),
    url('../fonts/SpoqaHanSansNeo_TTF_subset/SpoqaHanSansNeo-Regular.eot') format('embedded-opentype'),
    url('../fonts/SpoqaHanSansNeo_TTF_subset/SpoqaHanSansNeo-Regular.woff2') format('woff2'),
    url('../fonts/SpoqaHanSansNeo_TTF_subset/SpoqaHanSansNeo-Regular.woff') format('woff'),
    url('../fonts/SpoqaHanSansNeo_TTF_subset/SpoqaHanSansNeo-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

/* Spoqa Han Sans Neo Medium */
@font-face {
  font-family: 'Spoqa Han Sans Neo';
  src: url('../fonts/SpoqaHanSansNeo_TTF_subset/SpoqaHanSansNeo-Medium.eot');
  src:
    local('Spoqa Han Sans Neo'),
    url('../fonts/SpoqaHanSansNeo_TTF_subset/SpoqaHanSansNeo-Medium.eot') format('embedded-opentype'),
    url('../fonts/SpoqaHanSansNeo_TTF_subset/SpoqaHanSansNeo-Medium.woff2') format('woff2'),
    url('../fonts/SpoqaHanSansNeo_TTF_subset/SpoqaHanSansNeo-Medium.woff') format('woff'),
    url('../fonts/SpoqaHanSansNeo_TTF_subset/SpoqaHanSansNeo-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

/* Spoqa Han Sans Neo Bold */
@font-face {
  font-family: 'Spoqa Han Sans Neo';
  src: url('../fonts/SpoqaHanSansNeo_TTF_subset/SpoqaHanSansNeo-Bold.eot');
  src:
    local('Spoqa Han Sans Neo'),
    url('../fonts/SpoqaHanSansNeo_TTF_subset/SpoqaHanSansNeo-Bold.eot') format('embedded-opentype'),
    url('../fonts/SpoqaHanSansNeo_TTF_subset/SpoqaHanSansNeo-Bold.woff2') format('woff2'),
    url('../fonts/SpoqaHanSansNeo_TTF_subset/SpoqaHanSansNeo-Bold.woff') format('woff'),
    url('../fonts/SpoqaHanSansNeo_TTF_subset/SpoqaHanSansNeo-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* Spoqa Han Sans Neo Thin */
@font-face {
  font-family: 'Spoqa Han Sans Neo';
  src: url('../fonts/SpoqaHanSansNeo_TTF_subset/SpoqaHanSansNeo-Thin.eot');
  src:
    local('Spoqa Han Sans Neo'),
    url('../fonts/SpoqaHanSansNeo_TTF_subset/SpoqaHanSansNeo-Thin.eot') format('embedded-opentype'),
    url('../fonts/SpoqaHanSansNeo_TTF_subset/SpoqaHanSansNeo-Thin.woff2') format('woff2'),
    url('../fonts/SpoqaHanSansNeo_TTF_subset/SpoqaHanSansNeo-Thin.woff') format('woff'),
    url('../fonts/SpoqaHanSansNeo_TTF_subset/SpoqaHanSansNeo-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

/* Spoqa Han Sans Neo Light */
@font-face {
  font-family: 'Spoqa Han Sans Neo';
  src: url('../fonts/SpoqaHanSansNeo_TTF_subset/SpoqaHanSansNeo-Light.eot');
  src:
    local('Spoqa Han Sans Neo'),
    url('../fonts/SpoqaHanSansNeo_TTF_subset/SpoqaHanSansNeo-Light.eot') format('embedded-opentype'),
    url('../fonts/SpoqaHanSansNeo_TTF_subset/SpoqaHanSansNeo-Light.woff2') format('woff2'),
    url('../fonts/SpoqaHanSansNeo_TTF_subset/SpoqaHanSansNeo-Light.woff') format('woff'),
    url('../fonts/SpoqaHanSansNeo_TTF_subset/SpoqaHanSansNeo-Light.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

/*  Start font-applesdgothicneo */
@font-face {
  font-family: 'Apple SD Gothic Neo';
  font-style: normal;
  font-weight: 100;
  src:
    local('Apple SD Gothic Neo Thin'),
    url('../fonts/applesdgothicneo/100_AppleSDGothicNeo-Thin.woff2') format('woff2'),
    url('../fonts/applesdgothicneo/100_AppleSDGothicNeo-Thin.otf') format('opentype');
}

@font-face {
  font-family: 'Apple SD Gothic Neo';
  font-style: normal;
  font-weight: 200;
  src:
    local('Apple SD Gothic Neo UltraLight'),
    url('../fonts/applesdgothicneo/200_AppleSDGothicNeo-UltraLight.woff2') format('woff2'),
    url('../fonts/applesdgothicneo/200_AppleSDGothicNeo-UltraLight.otf') format('opentype');
}

@font-face {
  font-family: 'Apple SD Gothic Neo';
  font-style: normal;
  font-weight: 300;
  src:
    local('Apple SD Gothic Neo Light'),
    url('../fonts/applesdgothicneo/300_AppleSDGothicNeo-Light.woff2') format('woff2'),
    url('../fonts/applesdgothicneo/300_AppleSDGothicNeo-Light.otf') format('opentype');
}

@font-face {
  font-family: 'Apple SD Gothic Neo';
  font-style: normal;
  font-weight: 400;
  src:
    local('Apple SD Gothic Neo Medium'),
    url('../fonts/applesdgothicneo/400_AppleSDGothicNeo-Medium.woff2') format('woff2'),
    url('../fonts/applesdgothicneo/400_AppleSDGothicNeo-Medium.otf') format('opentype');
}

@font-face {
  font-family: 'Apple SD Gothic Neo';
  font-style: normal;
  font-weight: 500;
  src:
    local('Apple SD Gothic Neo Regular'),
    url('../fonts/applesdgothicneo/500_AppleSDGothicNeo-Regular.woff2') format('woff2'),
    url('../fonts/applesdgothicneo/500_AppleSDGothicNeo-Regular.otf') format('opentype');
}

@font-face {
  font-family: 'Apple SD Gothic Neo';
  font-style: normal;
  font-weight: 600;
  src:
    local('Apple SD Gothic Neo SemiBold'),
    url('../fonts/applesdgothicneo/600_AppleSDGothicNeo-SemiBold.woff2') format('woff2'),
    url('../fonts/applesdgothicneo/600_AppleSDGothicNeo-SemiBold.otf') format('opentype');
}

@font-face {
  font-family: 'Apple SD Gothic Neo';
  font-style: normal;
  font-weight: 700;
  src:
    local('Apple SD Gothic Neo Bold'),
    url('../fonts/applesdgothicneo/700_AppleSDGothicNeo-Bold.woff2') format('woff2'),
    url('../fonts/applesdgothicneo/700_AppleSDGothicNeo-Bold.otf') format('opentype');
}

@font-face {
  font-family: 'Apple SD Gothic Neo';
  font-style: normal;
  font-weight: 800;
  src:
    local('Apple SD Gothic Neo ExtraBold'),
    url('../fonts/applesdgothicneo/800_AppleSDGothicNeo-ExtraBold.woff2') format('woff2'),
    url('../fonts/applesdgothicneo/800_AppleSDGothicNeo-ExtraBold.otf') format('opentype');
}

@font-face {
  font-family: 'Apple SD Gothic Neo';
  font-style: normal;
  font-weight: 900;
  src:
    local('Apple SD Gothic Neo Heavy'),
    url('../fonts/applesdgothicneo/900_AppleSDGothicNeo-Heavy.woff2') format('woff2'),
    url('../fonts/applesdgothicneo/900_AppleSDGothicNeo-Heavy.otf') format('opentype');
}
/* End font-applesdgothicneo */

/* Start font Inter */
@font-face {
  font-family: 'Inter';
  src:
    local('Inter Thin'),
    url('../fonts/Inter/Inter-Thin.woff2') format('woff2'),
    url('../fonts/Inter/Inter-Thin.otf') format('opentype'),
    url('../fonts/Inter/Inter-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

/* Inter Extra Light */
@font-face {
  font-family: 'Inter';
  src:
    local('Inter Extra Light'),
    url('../fonts/Inter/Inter-ExtraLight.woff2') format('woff2'),
    url('../fonts/Inter/Inter-ExtraLight.otf') format('opentype'),
    url('../fonts/Inter/Inter-ExtraLight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

/* Inter Light */
@font-face {
  font-family: 'Inter';
  src:
    local('Inter Light'),
    url('../fonts/Inter/Inter-Light.woff2') format('woff2'),
    url('../fonts/Inter/Inter-Light.otf') format('opentype'),
    url('../fonts/Inter/Inter-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

/* Inter Regular */
@font-face {
  font-family: 'Inter';
  src:
    local('Inter Regular'),
    url('../fonts/Inter/Inter-Regular.woff2') format('woff2'),
    url('../fonts/Inter/Inter-Regular.otf') format('opentype'),
    url('../fonts/Inter/Inter-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* Inter Medium */
@font-face {
  font-family: 'Inter';
  src:
    local('Inter Medium'),
    url('../fonts/Inter/Inter-Medium.woff2') format('woff2'),
    url('../fonts/Inter/Inter-Medium.otf') format('opentype'),
    url('../fonts/Inter/Inter-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

/* Inter Semi Bold */
@font-face {
  font-family: 'Inter';
  src:
    local('Inter Semi Bold'),
    url('../fonts/Inter/Inter-SemiBold.woff2') format('woff2'),
    url('../fonts/Inter/Inter-SemiBold.otf') format('opentype'),
    url('../fonts/Inter/Inter-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

/* Inter Bold */
@font-face {
  font-family: 'Inter';
  src:
    local('Inter Bold'),
    url('../fonts/Inter/Inter-Bold.woff2') format('woff2'),
    url('../fonts/Inter/Inter-Bold.otf') format('opentype'),
    url('../fonts/Inter/Inter-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* Inter Extra Bold */
@font-face {
  font-family: 'Inter';
  src:
    local('Inter Extra Bold'),
    url('../fonts/Inter/Inter-ExtraBold.woff2') format('woff2'),
    url('../fonts/Inter/Inter-ExtraBold.otf') format('opentype'),
    url('../fonts/Inter/Inter-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

/* Inter Black */
@font-face {
  font-family: 'Inter';
  src:
    local('Inter Black'),
    url('../fonts/Inter/Inter-Black.woff2') format('woff2'),
    url('../fonts/Inter/Inter-Black.otf') format('opentype'),
    url('../fonts/Inter/Inter-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
/*  End font Inter */
