@font-face {
  font-family: 'FK Grotesk';
  /* Định dạng woff2 là chuẩn nén tốt nhất hiện nay */
  /* format('woff2-variations') giúp trình duyệt hiểu đây là font biến đổi */
  src: url('~/assets/fonts/FK-Grotesk-Font-Family-Head/FKGrotesk-Variable.woff2') format('woff2-variations');

  /* QUAN TRỌNG: Khai báo khoảng weight mà file này hỗ trợ (từ 100 đến 900) */
  font-weight: 100 900;

  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'FK Grotesk Neue';
  /* Định dạng woff2 là chuẩn nén tốt nhất hiện nay */
  /* format('woff2-variations') giúp trình duyệt hiểu đây là font biến đổi */
  src: url('~/assets/fonts/FK-Grotesk-Neue-Font-Family-Body/FKGroteskNeue-Variable.woff2') format('woff2-variations');

  /* QUAN TRỌNG: Khai báo khoảng weight mà file này hỗ trợ (từ 100 đến 900) */
  font-weight: 100 900;

  font-style: normal;
  font-display: swap; /* Dể trang web không bị trắng trơn (FOIT) khi mạng chậm trong lúc đang tải font*/
}

@font-face {
  font-family: 'FK Grotesk-Fallback';
  src: local('Arial');

  size-adjust: 103%;
  ascent-override: 95%;
  descent-override: 20%;
}

@font-face {
  font-family: 'FK Grotesk Neue-Fallback';
  src: local('Arial');

  size-adjust: 103%;
  ascent-override: 95%;
  descent-override: 20%;
}
