@layer variable {
  :root {
    /* Font */
    --font-spoqa:
      'Spoqa Han Sans Neo', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans,
      Droid Sans, Helvetica Neue, sans-serif;

    --font-family-ko:
      'Spoqa Han Sans Neo', -apple-system, 'system-ui', 'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji',
      'Segoe UI Emoji';

    --font-family-en:
      'Inter', -apple-system, 'system-ui', 'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji',
      'Segoe UI Emoji';

    --font-sf-pro:
      -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
      Helvetica Neue, sans-serif;

    --font-ic: 'stds-font-icon-v2', sans-serif;

    --font-applesdgothicneo:
      'Apple SD Gothic Neo', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans,
      Droid Sans, Helvetica Neue, sans-serif;

    /* border */
    --code-dark-indigo: 0.3417 0.0421 273.18; /* oklch(0.3417 0.0421 273.18) */
    --code-stove-blue: 0.558 0.243052 265.5318; /* oklch(0.558 0.243052 265.5318) */
    --code-neutral-gray: 0.683 0 0; /* oklch(0.683 0 0) */
    --code-standard-gray: 0.5103 0 0; /* oklch(0.5103 0 0) */
    --code-darkgrey: 0.5103 0 0; /* oklch(0.3211 0 0) */
    --code-pure-white: 1 0 0; /* oklch(1 0 0) */
    --code-pure-black: 0 0 0; /* oklch(oklch(0 0 0) */

    --app-font-family: var(--font-family-ko);

    --primary-alpha: 1;
    --primary-color-code: var(--code-stove-blue);
    --primary-color: oklch(var(--primary-color-code));

    --text-muted: oklch(var(--code-neutral-gray) / var(--primary-alpha));
    --text-dimmed: oklch(var(--code-standard-gray) / var(--primary-alpha));
    --text-base: oklch(var(--code-darkgrey-gray) / var(--primary-alpha));
    --text-primary: oklch(var(--primary-color-code) / var(--primary-alpha));
    --text-invert: oklch(var(--pure-white) / var(--primary-alpha));

    --app-border-base: oklch(var(--code-pure-black) / 0.1);
    --hover-background-primary: oklch(var(--primary-color-code) / 0.06);
    --shadow: oklch(var(--code-dark-indigo) / 0.1);
    --box-shadow-base: 0px 4px 16px 0px oklch(0.3417 0.0421 273.18 / 0.1);
    --app-background-base: oklch(var(--code-pure-white));
    --app-background-gradient:
      linear-gradient(0deg, #f8fbff, #f8fbff),
      linear-gradient(180deg, rgba(134, 186, 255, 0.2) 0%, rgba(255, 255, 255, 0) 45.9%);
  }

  html[lang='en'] {
    --app-font-family: var(--font-family-en);
  }

  html.dark {
    --primary-alpha: 1;

    --primary-color-code: var(--code-stove-blue);
    --primary-color: oklch(var(--primary-color-code));

    --text-muted: oklch(var(--code-neutral-gray) / var(--primary-alpha));
    --text-dimmed: oklch(var(--code-standard-gray) / var(--primary-alpha));
    --text-base: oklch(var(--code-darkgrey-gray) / var(--primary-alpha));
    --text-primary: oklch(var(--primary-color-code) / var(--primary-alpha));
    --text-invert: oklch(var(--pure-white) / var(--primary-alpha));

    --app-border-base: oklch(var(--code-pure-black) / 0.1);
    --hover-background-primary: oklch(var(--primary-color-code) / 0.06);
    --shadow: oklch(var(--code-dark-indigo) / 0.1);
    --box-shadow-base: 0px 4px 16px 0px oklch(0.3417 0.0421 273.18 / 0.1);
    --app-background-base: oklch(var(--code-pure-white));
    --app-background-gradient: linear-gradient(180deg, rgba(134, 186, 255, 0.2) 0%, rgba(255, 255, 255, 0) 45.9%);
  }
}
