:root {
  /*
  primary: hsba(226, 82%, 100%, 1)

  text muted: hsba(0, 0%, 60%, 1)
  Text dimmed: hsba(0, 0%, 40%, 1)
  Text base: hsba(0, 0%, 20%, 1)
  Text highlight primary: hsba(226, 82%, 100%, 1); // primary
  text invert: hsba(0, 0%, 100%, 1); //use with text in background primary

  box-shadow: 0px 4px 16px 0px hsba(228, 38%, 31%, 0.1);
  background gradient linear-gradient(0deg, #F8FBFF, #F8FBFF), linear-gradient(180deg, rgba(134, 186, 255, 0.2) 0%, rgba(255, 255, 255, 0) 45.9%);
  background primary hover: background: hsba(226, 82%, 100%, 0.06); // primary op `0.06`

  border: hsba(0, 0%, 0%, 0.1)
   */
  --primary: hsba(226, 82%, 100%, 1);
  --text-color-muted: hsba(0, 0%, 60%, 1);
  --text-color-dimmed: hsba(0, 0%, 40%, 1);
  --text-color-base: hsba(0, 0%, 20%, 1);
  --text-color-highlight: --app-font-family: var(--font-family-ko);
  --bg-color-base: var();
  --app-color-primary: var(##86baff);
}

html[lang='en'] {
  --app-font-family: var(--font-family-en);
}

html.dark {
  --bg-color-base: var();
}
